<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>计算属性和监视</title>
</head>
<body>
   <div id="demo">
       姓:
       <input type="text" placeholder="firstName" v-model="firstName"><br>
       名:
       <input type="text" placeholder="lastName" v-model="lastName"><br>
       姓名1(单向):
       <input type="text" placeholder="Full Name1" v-model="fullName1"><br>
        姓名2(单向): 
        <!--  -->
        <input type="text" placeholder="Full Name2" v-model="fullName2"><br>
        姓名3(双向):
        <!--  -->
        <input type="text" placeholder="Full Name3" v-model="fullName3"><br>
        <p>{{fullName1}}</p>
        <p>{{fullName1}}</p>
        <p>{{fullName1}}</p>
   </div>
    
    <script src="../../js/vue.js"></script>
    <script>
    var demo=new Vue({
        el:"#demo",
        data:{
            firstName:'A',
            lastName:'B',
            fullName2:'A B'

        },
        computed:{
            fullName1(){
                console.log('fullName1()');
                return this.firstName +' ' +this.lastName;
            },
            fullName3:{
                get(){
                return this.firstName +' ' +this.lastName;
                },
                set(value){
                var name=value.split(' ')
                this.firstName = name[0]
                this.lastName = name[1]

                }
            }
        },
        watch:{
            firstName:function(value){
                this.fullName2=value +' '+this.lastName;
            }
        }

    })

    demo.$watch('lastName',function(value){
        this.fullName2 =this.firstName+' '+value;
    })
    
    </script>
</body>
</html>